<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<form name="form1" method="post" action="">
  <div class="titulo">
    <strong>Gerador de Cadastros Válidos</strong>
  </div>
  <fieldset class="campos">
    <label for="">Razão Social:</label>
    <input type="text" name="razao" placeholder="vazio" value="" id="razaoSocial">
    <label for="">CNPJ:</label>
    <input type="text" name="cnpj" placeholder="vazio" value="">
    <label for="">Inscrição Estadual:</label>
    <input type="text" name="ie" placeholder="vazio" value="">
    <label for="">Data de Abertura:</label>
    <input type="text" name="abertura" placeholder="vazio" value="">
    <label for="">Site:</label>
    <input type="text" name="site" placeholder="vazio" value="">
    <label for="">CEP Empresa:</label>
    <input type="text" name="cepEmpresa" placeholder="vazio" value="" id="cepEmpresa">
    <label for="">Rua Empresa:</label>
    <input type="text" name="ruaEmpresa" placeholder="vazio" value="">
    <label for="">Número Empresa:</label>
    <input type="text" name="numeroEmpresa" placeholder="vazio" value="">
    <label for="">Bairro Empresa:</label>
    <input type="text" name="bairroEmpresa" placeholder="vazio" value="">
    <label for="">Cidade Empresa:</label>
    <input type="text" name="cidadeEmpresa" placeholder="vazio" value="" id="cidadeEmpresa">
    <label for="">Estado Empresa:</label>
    <input type="text" name="estadoEmpresa" placeholder="vazio" value="" id="estadoEmpresa">
    <label for="">Email Empresarial:</label>
    <input type="text" name="empresarial" placeholder="vazio" value="">
    <label for="">Email Pessoal:</label>
    <input type="text" name="email" placeholder="vazio" value="">
    <label for="">Senha:</label>
    <input type="text" name="senha" placeholder="vazio" value="">
    <label for="">Nome:</label>
    <input type="text" name="nome" placeholder="vazio" value="" id="nome">
    <label for="">Sobrenome:</label>
    <input type="text" name="sobrenome" placeholder="vazio" value="" id="sobrenome">
    <label for="">CPF:</label>
    <input type="text" name="cpf" placeholder="vazio" value="">
    <label for="">RG:</label>
    <input type="text" name="rg" placeholder="vazio" value="">
    <label for="">Data de Nascimento:</label>
    <input type="text" name="nascimento" placeholder="vazio" value="" id="nascimento">
    <label for="">Signo:</label>
    <input type="text" name="signo" placeholder="vazio" value="">
    <label for="">Titulo de Eleitor:</label>
    <input type="text" name="te" placeholder="vazio" value="">
    <label for="">CEP:</label>
    <input type="text" name="cep" placeholder="vazio" value="">
    <label for="">Rua:</label>
    <input type="text" name="rua" placeholder="vazio" value="">
    <label for="">Número:</label>
    <input type="text" name="numero" placeholder="vazio" value="">
    <label for="">Bairro:</label>
    <input type="text" name="bairro" placeholder="vazio" value="">
    <label for="">Cidade:</label>
    <input type="text" name="cidade" placeholder="vazio" value="">
    <label for="">Estado:</label>
    <input type="text" name="estado" placeholder="vazio" value="" id="estado">
    <label for="">Telefone Residencial:</label>
    <input type="text" name="residencial" placeholder="vazio" value="">
    <label for="">Celular:</label>
    <input type="text" name="celular" placeholder="vazio" value="" id="celular">
    <label for="">Telefone Comercial:</label>
    <input type="text" name="comercial" placeholder="vazio" value=""id="comercial">
    <label for="">Altura:</label>
    <input type="text" name="altura" placeholder="vazio" value="">
    <label for="">Peso:</label>
    <input type="text" name="peso" placeholder="vazio" value="">
    <label for="">Tipo Sanguineo:</label>
    <input type="text" name="sanguineo" placeholder="vazio" value="">
    <label for="">Cor Favorita:</label>
    <input type="text" name="cor" placeholder="vazio" value="">
  </fieldset>
  <button  type="button" name="Button" value="Gerar" onClick="geraCadastro()">Gerar</button>
</form>
