.titulo {
	background-color: #003399;
	text-align: center;
}

.titulo strong{
	color: #fff;
	font-size: 13px;
}

.campos{
	background-color: #CCCCCC;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.campos input{
	display: block;
	width: 100%;
	padding-left: 5px; 
}

button{
	background-color: #039;
	color: #fff;
}